* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "roboto";
}

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.top-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    gap: 50px;
    color: white;
    background-color: #1F2937;
    padding-bottom: 100px;

}

.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-between;
    flex: 1;
    width: 80%;
}

ul {
    display: flex;
    gap: 15px;
    list-style-type: none;
}

.top {
    display: flex;
    gap: 50px;
    width: 80%;
}


.left {
display: flex;
flex-direction: column;
justify-content: baseline;
flex: 1;
gap: 10px;
}

button {
    background-color: #3882F6;
    color: #FFFFFF;
    padding: 5px 25px;
    border-radius: 5px;
}

.right-box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
    flex: 1;
}

.mid {
    width: 80%;
    margin: auto;
    padding: 50px 0px;
}

.mid h1 {
    text-align: center;
    font-size: 2em;
    padding-bottom: 50px;
}

.box-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 100px;
}

.box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 200px;   
}

.box p {
    text-align: center;
    color: rgb(135, 135, 135);
    font-size: 1.5em;
    width: 150px
}

.mini-box {
    border: 1px solid dodgerblue;
    padding: 100px;
    border-radius: 10px;
}

.quote {
    display: flex;
    justify-content: center;
    background-color: #E5E7EB;
    padding: 100px 0;
}

.quote-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}

.quote-box p {
    font-size: 2.8em;
    color: #656565;

}

.quote-box h1 {
    display: flex;
    justify-content: end;
    padding-right: 25px;
}

.blue-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px;
    color: white;

}

.sign-button {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: end;
}

.sign-button button {
    border: 1px solid white;
}

.action-container {
    display: flex;
    gap: 100px;
    padding: 35px 100px;
    border-radius: 5px;
    font-size: 1.5em;
    background-color: #3882F6;
    width: 80%;
}

.action-container {
    justify-content: center;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #1F2937;
    color: white;
    font-size: 1.5em;
}