* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex: 1;
    height: 100vh;
    justify-content: center;
}

.container {
    border: 1px black solid;
    display: flex;
    flex-direction: column;
    width: 1750px;
}

.header {
    display: flex;
    justify-content: space-between;
}

ul {
    display: flex;
    gap: 15px;
}

